<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-2">
                    <label>Customer ID</label>
                </div>
                <div class="col-md-3">
                    <label>{{customer.Customer_ID}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Company Name</label>
                </div>
                <div class="col-md-3">
                    <label>{{customer.Company_Name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Contact Name</label>
                </div>
                <div class="col-md-3">
                    <label>{{customer.Contact_Name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>